div.picone {
  position: fixed;
  bottom: 30%;
  right: 55%;
  width: 325px;
  height: 325px;
}
div.pictwo {
  position: fixed;
  bottom: 30%;
  left: 55%;
  width: 325px;
  height: 325px;;
}
div.or {
  position: fixed;
  bottom: 40%;
  left: 48%;
  width: 50px;
  height: 50px;
}
.buttonone {
  position: fixed;
  right:55%;
  bottom: 5%;
}
.buttontwo {
  position: fixed;
  left:55%;
  bottom:5%;
}

div.ad1 {
  position: fixed;
  bottom: 10%;
  right: 85%;
}

div.ad2 {
  position: fixed;
  bottom: 10%;
  left: 87.5%;
}
div.ad3 {
  position: fixed;
  bottom: 10%;
  left: 70.5%;
}

div.a {
  color: hotpink !important;
  text-decoration: none !important;
}  
